.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.spacer {
  flex: 1 1 auto;
}

footer {
  text-align: center;
  background-color: var(--p-light, #8bf6ff);
}

.active-link {
  background-color: #fdd835;
}