<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add a New Experiences</mat-card-title>
    </mat-card-header>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" autocomplete="off" novalidate>
      <mat-card-content>

        <mat-form-field>
          <input matInput type="text" placeholder="Category Name" id="category-name" formControlName="name" required>
          <mat-error *ngIf="hasError('name', 'required')">Please enter a category name</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <a mat-raised-button color="warn" routerLink="/dashboard">Cancel</a>
        <button mat-raised-button color="primary" type="submit" [disabled]="!categoryForm.valid">
          Submit
        </button>
      </mat-card-actions>

    </form>

    <mat-card-footer>
      <h3>{{message}}</h3>
    </mat-card-footer>
  </mat-card>
</section>
