<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add a New Category</mat-card-title>
    </mat-card-header>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" autocomplete="off" novalidate>
      <mat-card-content>

        <mat-form-field>
          <input matInput type="text" placeholder="Category Name" id="category-name" formControlName="name" required>
          <mat-error *ngIf="hasError('name', 'required')">Please enter a category name</mat-error>
        </mat-form-field>
        <h4>Or Choose an Existing Category to Track</h4>
        <div>
          <select name="name" formControlName="name">
          <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </option>
          </select>
        </div>
        <div formArrayName="experiences">
          <div *ngFor="let experience of experiences.controls; let i = index" [formGroupName]="i" class="experiences">
            <div>
              Experience {{i + 1}}
            </div>
            <div>
              <input type="text" placeholder="Experience Name" formControlName="name">
            </div>
          </div>
          <button mat-flat-button color="accent" type="button" (click)="addExperience()"[disabled]="!categoryForm.valid">
            Add Experience
          </button>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!categoryForm.valid">
          Add Category
        </button>
      </mat-card-actions>

    </form>

    <mat-card-footer>
      <h3>{{message}}</h3>
    </mat-card-footer>
  </mat-card>

  <p>Form Control values: {{ categoryForm.value | json }}</p>
  <p>Form Control status: {{ categoryForm.status | json }}</p>
</section>
