<p>Register for an account
<h3>{{message}}</h3>
<div class="form-group">
  <form [formGroup]="userForm" (ngSubmit)="register()">
    <mat-form-field class="user-name">
      <input matInput
             type="text"
             placeholder="Username"
             required
             name="username"
             formControlName="username">
      <div class="alert" *ngIf="userForm.get('username').invalid &&
        (userForm.get('username').dirty || userForm.get('username').touched )">
        Username is Required
      </div>
    </mat-form-field>
    <br/>

    <mat-form-field class="password">
      <input matInput
             type="password"
             placeholder="Password"
             required
             name="password"
             formControlName="password">
      <div class="alert" *ngIf="userForm.get('password').invalid &&
        (userForm.get('password').dirty || userForm.get('password').touched )">
        Password is required & must be 8+ characters
      </div>
    </mat-form-field>

    <br/>
    <mat-form-field class="email">
      <input matInput
             type="email"
             placeholder="Email"
             required
             name="email"
             formControlName="email">
        <div class="alert" *ngIf="userForm.get('email').invalid &&
          (userForm.get('email').dirty || userForm.get('email').touched )">
          Email is required
      </div>
    </mat-form-field>

    <br/>

     <mat-form-field class="name">
      <input matInput
             type="name"
             placeholder="Name"
             required
             name="name"
             formControlName="name">
        <div class="alert" *ngIf="userForm.get('name').invalid &&
          (userForm.get('name').dirty || userForm.get('name').touched )">
          Name is required
      </div>
    </mat-form-field>

    <br/>

    <mat-form-field class="birthdate">
      <input matInput
             type="birthdate"
             placeholder="Birthdate"
             required
             name="birthdate"
             formControlName="birthdate">
       <div class="alert" *ngIf="userForm.get('birthdate').invalid &&
          (userForm.get('birthdate').dirty || userForm.get('birthdate').touched )">
          Birthdate is required
      </div>
    </mat-form-field>

    <br/>

    <mat-form-field class="gender">
      <input matInput
             type="gender"
             placeholder="Gender"
             required
             name="gender"
             formControlName="gender">
        <div class="alert" *ngIf="userForm.get('gender').invalid &&
          (userForm.get('gender').dirty || userForm.get('gender').touched )">
          Gender is required
      </div>
    </mat-form-field>

    <br/>
    <button mat-fab type="submit">Register</button>
  </form>

</div>

<p>Form Control values: {{ userForm.value | json }}</p>
<p>Form Control status: {{ userForm.status | json }}</p>
