mat-card {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}
mat-form-field {
  max-width: 100%;
  width: 300px;
  display: block;
} 

mat-card-actions {
  text-align: center;
}

.container {
  text-align: center;
  width: 100%;
}

.logo {
  max-width: 200px;
  width: 20%;
}

.mat-icon {
  cursor: pointer;
  user-select: none;
}


