<div fxLayout="column" fxLayoutAlign="space-around center" class="container">
  <img src="/assets/logo/logo_circle_text.svg" class="logo">

  <div class="form-group">
    <form [formGroup]="resetData" (ngSubmit)="reset()" autocomplete="off">
      <mat-form-field class="user-name">
        <input matInput type="text" placeholder="Username" id="username" formControlName="username" required>
        <mat-error *ngIf="hasError('username', 'required')">Please enter your username</mat-error>
      </mat-form-field>
      <p>{{security_question}}
     
      <mat-form-field class="security-answer">
        <input matInput type="text" placeholder="Security Answer" id="security-answer" formControlName="security_answer" required>
        <mat-error *ngIf="hasError('security_answer', 'required')">Please enter your security answer</mat-error>
      </mat-form-field>
      <button mat-fab type="submit" [disabled]="!resetData.valid">Reset</button>
    </form>
  </div>
  <h3>{{message}}</h3>
</div>
