mat-toolbar {
  height: 230px;
  padding: 0;
}

.logo-area {
  padding: 0;
  margin: 0;
  width: 430px;
  height: 230px;
  background-color: #4fc3f7;
  background-image: url("/assets/logo/logo_no_background.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.navigation-items {
  padding: 10px;
}

.sidenav-toggle {
  position: absolute;
  top: 50px;
  left: 10px;
  display: none;
}

@media only screen and (max-width: 900px) {
  mat-toolbar {
    height: 150px;
  }
  .logo-area {
    width: 300px;
    max-height: 150px;
  }
}

@media only screen and (max-width: 600px) {
  mat-toolbar {
    height: 100px;
  }
  .logo-area {
    max-height: 100px;
  }
  .sidenav-toggle {
    display: inline;
  }
}
