mat-toolbar {
  height: 230px;
  padding: 0;
}

.logo-area {
  padding: 0;
  margin: 0;
  width: 420px;
  height: 230px;
  background-color: #4fc3f7;
  background-image: url("/assets/logo/logo_no_background.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.navigation-items {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  mat-toolbar {
    height: 100px;
  }
  .logo-area {
    max-height: 100px;
    background-size: contain;
  }
}
