<mat-toolbar color="primary">
  <a mat-flat-button class="nav-link" routerLink="/home">Home</a>
  <a mat-flat-button class="nav-link" routerLink="/login">Login</a>
  <a mat-flat-button class="nav-link" routerLink="/account">Sign Up</a>
  <span class="spacer"></span>
  <a routerLink="/home">
    <div class="logo-area"> </div>
    <!-- <img src="/assets/logo/logo_no_background.svg" class="desktop-logo"> -->
    <!-- <img src="/assets/logo/logo_semi_circle.svg" class="mobile-logo"> -->
  </a>
</mat-toolbar>