<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="end end">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  
  <div fxLayoutGap="15px" fxLayout="row" fxHide.xs class="navigation-items">
    <div *ngIf="isLoggedIn(); else newSession" fxLayoutGap="15px" fxLayout="row" fxHide.xs >
      <a mat-raised-button color="accent" class="nav-link" routerLink="/home" (click)="logout()">Logout</a>
      <a mat-raised-button color="accent" class="nav-link" routerLink="/account">My Account</a>
    </div>
    <ng-template #newSession>
      <a mat-raised-button color="accent" class="nav-link" routerLink="/login">Login</a>
      <a mat-raised-button color="accent" class="nav-link" routerLink="/register">Sign Up</a>
    </ng-template>
  </div>

  <a routerLink="/home">
    <div class="logo-area"> </div>
  </a>
</mat-toolbar>
