<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="end end">
  <div class="sidenav-toggle">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div fxLayoutGap="15px" fxLayout="row" fxHide.xs class="navigation-items">
    <div *ngIf="isLoggedIn(); else newSession" fxLayoutGap="15px" fxLayout="row" fxHide.xs >
      <a mat-raised-button color="accent" class="nav-link" routerLink="/home" (click)="logout()">Logout</a>
      <a mat-raised-button color="accent" class="nav-link" routerLink="/account">My Account</a>
      <a mat-raised-button color="accent" class="nav-link" routerLink="/dashboard">Dashboard</a>
    </div>
    <ng-template #newSession>
      <a mat-raised-button color="accent" class="nav-link" routerLink="/login">Login</a>
      <a mat-raised-button color="accent" class="nav-link" routerLink="/register">Sign Up</a>
    </ng-template>
  </div>

  <a *ngIf="isLoggedIn()" routerLink="/dashboard" class="logo-area"></a>
  <a *ngIf="!isLoggedIn()" routerLink="/home" class="logo-area"></a>
</mat-toolbar>
