<h1 class="mat-display-1">Categories</h1>

<div class="categories" fxLayout="row wrap" fxflexfill fxLayoutGap="3%" >
  <mat-card *ngFor="let c of categories"  (click)="onSelect(c)" fxFlex="30" fxFlex.xs="45" [ngStyle]="{'background-color': c.color}">
    <mat-card-content fxflexfill>
      <h1 fittext [maxFontSize]=70>{{ c.name | spacebreak }}
      </h1>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!isDashBoard">
  <p>Don't see what you're looking for?
    <button mat-raised-button color="primary" routerLink="/category-create">Add New Category</button>
  </p>
</div>
