.mat-display-1 {
  margin-bottom: 20px;
}

.categories {
  width: 90%;
  margin: 0 auto;
}

.mat-card {
  margin-bottom: 20px;
  height: 200px;
  padding: 0;
  perspective: 1000px;
}

.mat-card-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.mat-card-content h2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 100%;
  text-align: center;
  white-space: pre-line;
  user-select: none;
	transform: translate(-50%, -50%);
}

/* Colors the text of category cards */
@supports 
  ((-webkit-text-stroke-color: #000)
  and
  (-webkit-text-fill-color: white))
  or
  ((-moz-text-stroke-color: #000)
  and
  (-moz-text-fill-color: white)) {
  .mat-card-content h2 {
         -moz-text-fill-color: white;
      -webkit-text-fill-color: white;
       -moz-text-stroke-color: #000;
    -webkit-text-stroke-color: #000;
       -moz-text-stroke-width: 2px;  
    -webkit-text-stroke-width: 2px;
  }
}

.floating-action-button {
  position: fixed;
  bottom: 15%;
  right: 10%;
  z-index: 999;
}

.floating-action-button-text {
  display: none;
}

@media only screen and (min-width: 601px) {
  .floating-action-button {
    width: unset;
    padding: 0 26px;
    border-radius: 29px;
    bottom: 5%;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  
  .floating-action-button-text {
    display: inline;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
