.categories {
  width: 90%;
  margin: 0 auto;
}

.mat-card {
  margin-bottom: 20px;
  height: 200px;
  padding: 0;
  cursor: pointer;
}

.mat-card-content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 100%;
  text-align: center;
  white-space: pre-line;
  user-select: none;
}

.mat-card-content {
  width: 80%;
  margin: 0 auto;
}
