.mat-display-1 {
  margin-bottom: 20px;
}

.categories {
  width: 90%;
  margin: 0 auto;
}

.mat-card {
  margin-bottom: 20px;
  height: 200px;
  padding: 0;
  perspective: 1000px;
  opacity: ;
}

.mat-card-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.mat-card-content h2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 100%;
  text-align: center;
  white-space: pre-line;
  user-select: none;
}

/* Colors the text of category cards */
@supports 
  ((-webkit-text-stroke-color: #000)
  and
  (-webkit-text-fill-color: white))
  or
  ((-moz-text-stroke-color: #000)
  and
  (-moz-text-fill-color: white)) {
  .mat-card-content h2 {
         -moz-text-fill-color: white;
      -webkit-text-fill-color: white;
       -moz-text-stroke-color: #000;
    -webkit-text-stroke-color: #000;
       -moz-text-stroke-width: 2px;  
    -webkit-text-stroke-width: 2px;
  }
}

/* hide back of pane during swap */
.card-face-front, .card-face-back {
	backface-visibility: hidden;
}

/* front pane, placed above back */
.card-face-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg) translate(-50%, -50%);
}

/* back, initially hidden pane */
.card-face-back {
	transform: rotateY(180deg) translate(50%, -50%);
}