<h1 class="mat-display-1">
    <span *ngIf="isDashBoard">My </span>
    <span *ngIf="!isDashBoard">All </span>
    Categories</h1>
<div class="categories" fxLayout="row wrap" fxflexfill fxLayoutGap="3%" >
  <mat-card *ngFor="let category of categories" 
            (click)="selectCategory(category)"  
            fxFlex="30" fxFlex.xs="45" 
            [ngStyle]="{'background-color': category.color, 'display': category.display }"
            [@flipCard]=category.flippedState>
      <!-- <a mat-raised-button color="primary" [routerLink]="['/category-create', {name:category.name}]">Track Category</a> -->
    <mat-card-content fxflexfill>
      <h2 fittext [maxFontSize]=70 [minFontSize]=20 class="card-face-front">
        {{ category.name | spacebreak:11 }}
      </h2>
      <h2 fittext [maxFontSize]=70 [minFontSize]=20 class="card-face-back">
        {{ category.name + ' Added!' | spacebreak:11 }}
      </h2>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!isDashBoard">
  <p>Don't see what you're looking for?
    <a mat-raised-button color="primary" routerLink="/category-create">Add New Category</a>
  </p>
</div>
