<h1 class="mat-display-1">
    <div *ngIf="isDashBoard">
      My 
    </div>
    <div *ngIf="!isDashBoard">
      All 
    </div>
    Categories</h1>
<div *ngIf="!isDashBoard">
<div class="categories" fxLayout="row wrap" fxflexfill fxLayoutGap="3%" >
  <mat-card *ngFor="let category of categories" 
            (click)="selectCategory(category)"  
            fxFlex="30" fxFlex.xs="45" 
            [ngStyle]="{'background-color': category.color, 'display': category.display }">
      <button mat-raised-button color="primary" [routerLink]="['/category-create', {name:category.name}]">Track Category</button>
    <mat-card-content fxflexfill>
      <h1 fittext [maxFontSize]=70 [minFontSize]=20>
        {{ category.name | spacebreak:11 }}
      </h1>
    </mat-card-content>
  </mat-card>
</div>
</div>
<!-- <div *ngIf="isDashBoard">
<div class="categories" fxLayout="row wrap" fxflexfill fxLayoutGap="3%" >
  <mat-card *ngFor="let category of categories"  
            (click)="onSelect(category)" 
            fxFlex="30" fxFlex.xs="45" 
            [ngStyle]="{'background-color': category.color}">
    <mat-card-content fxflexfill>
      <h1 fittext [maxFontSize]=70 [minFontSize]=20>
        {{ category.name | spacebreak:11 }}
      </h1>
    </mat-card-content>
  </mat-card>
</div>
</div> -->

<div *ngIf="!isDashBoard">
  <p>Don't see what you're looking for?
    <button mat-raised-button color="primary" routerLink="/category-create">Add New Category</button>
  </p>
</div>
