.title {
  margin-bottom: 0;
}

.floating-action-button {
  position: fixed;
  bottom: 15%;
  z-index: 999;
}

.fab-right {
  right: 10%;
}

.fab-left {
  left: 10%;
}

.floating-action-button-text {
  display: none;
}

@media only screen and (min-width: 670px) {
  .floating-action-button {
    width: unset;
    padding: 0 26px;
    border-radius: 29px;
    bottom: 5%;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  
  .floating-action-button-text {
    display: inline;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 599px) {
  .delete-button {
    padding:  10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 130%;
  }
}