<mat-dialog-actions fxLayout="row" fxLayoutAlign="start end">
  <h2 mat-dialog-title fxFlex>{{ category.name }}</h2>
  <button mat-raised-button color="accent">Add a first</button>
</mat-dialog-actions>
<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let experience of category.experiences">
      <button mat-icon-button color="primary">
        <span *ngIf="experience['favorite'] else emptyHeart">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </span>
        <ng-template #emptyHeart>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
        </ng-template>
      </button>
      {{ experience.name }}
    </mat-list-item>
  </mat-list>
</mat-dialog-content>