<div class="detail-header" fxLayoutAlign="space-between center">
  <h2 class="title mat-display-1">{{ category.name }}</h2>
  <button mat-raised-button color="warn" class="delete-button" (click)="deleteCategory()">Delete Category</button>
</div>
<app-experiences [category]="category"></app-experiences>

<button mat-fab class="floating-action-button fab-left" (click)="backClicked.emit()" tourAnchor="add-experiences">
  <mat-icon>arrow_back</mat-icon>
  <span class="floating-action-button-text">Back to categories</span>
</button>
