<h2>{{user.name}}'s Account</h2>
<h3>{{message}}</h3>
<div class="form-group">
  <form [formGroup]="userForm" (ngSubmit)="register()">
    <mat-form-field class="user-name">
      <input matInput
             type="text"
             placeholder="{{user.username}}"
             required
             name="username"
             formControlName="username">
    </mat-form-field>
    <br/>

    <mat-form-field class="password">
      <input matInput
             type="password"
             placeholder="{{user.password}}"
             required
             name="password"
             formControlName="password">
    </mat-form-field>

    <br/>
    <mat-form-field class="email">
      <input matInput
             type="email"
             placeholder="{{user.email}}"
             required
             name="email"
             formControlName="email">
    </mat-form-field>

    <br/>

     <mat-form-field class="name">
      <input matInput
             type="name"
             placeholder="{{user.name}}"
             required
             name="name"
             formControlName="name">
    </mat-form-field>

    <br/>

    <mat-form-field class="birthdate">
      <input matInput
             type="birthdate"
             placeholder="{{user.birthdate}}"
             required
             name="birthdate"
             formControlName="birthdate">
    </mat-form-field>

    <br/>

    <mat-form-field class="gender">
      <input matInput
             type="gender"
             placeholder="{{user.gender}}"
             required
             name="gender"
             formControlName="gender">
    </mat-form-field>

    <br/>
    <button mat-fab type="submit">Update</button>
  </form>

</div>

<p>Form Control values: {{ userForm.value | json }}</p>
<p>Form Control status: {{ userForm.status | json }}</p>
