<div class="dialog">
  <h2 mat-dialog-title>Add Categories</h2>
  <mat-dialog-content>
    <mat-selection-list #newCategories>
      <mat-list-option checkboxPosition="before" *ngFor="let category of categories">
        {{ category.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <a mat-mini-fab color="accent" class="new-experience-button" [routerLink]="['/category-create']" (click)="close()">
      <mat-icon>add</mat-icon>
    </a>
  </mat-dialog-actions>
</div>