<div fxLayout="column" fxLayoutAlign="space-around center" class="container">
  <img src="/assets/logo/logo_circle_text.svg" class="logo">
  <em>Login with:<br> 
      username: user, password: password; <br>
      username: jblakely, password: blackcat; <br>
      username: fancycat, password: pickle<br>
  </em>


  <div class="form-group">
    <form [formGroup]="loginData" (ngSubmit)="login()" autocomplete="off">
       <mat-form-field>
          <input matInput type="text" placeholder="Username" id="username" formControlName="username" required>
          <mat-error *ngIf="hasError('username', 'required')">Please enter your username</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" id="password" formControlName="password" required minlength="8">
          <mat-hint align="end">Must be 8+ characters</mat-hint>
          <mat-error *ngIf="hasError('password', 'required')">Please enter your password</mat-error>
          <mat-error *ngIf="hasError('password', 'minlength')">Password must be at least 8 characters</mat-error>
        </mat-form-field>
      <button mat-fab type="submit">Login</button>
    </form>
  </div>
  <h3>{{message}}</h3>
    <p>Form Control values: {{ loginData.value | json }}</p>
  <p>Form Control status: {{ loginData.status | json }}</p>
</div>


