/* You can add global styles to this file, and also import other style files */

:root {
  --first-of-many-yellow: #fdd835;
  --first-of-many-blue: #4fc3f7;
}

html, 
body { 
  height: 100%;
}

body { 
  margin: 0;
  font-family: Quicksand, "Helvetica Neue", sans-serif;
}
