<section fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-evenly center">
  <div fxLayout="column" fxFlex="60" fxFlex.xs="40" fxLayoutAlign="space-evently center" fxFlexAlign="center">
    <h1>First of Many</h1>
    <img src="/assets/logo/logo_circle_text.svg" class="logo">
    <blockquote>
      While you travel, eat, and enjoy life, keep track of each First of Many new places, foods, and activities.
      From childhood to today, and each new day beyond, the First of Many new experiences awaits you. 
      Sign up now to start tracking.
    </blockquote>
  </div>
  <div fxFlex fxFlexAlign="center" class="video-container">
    <iframe src="https://www.youtube.com/embed/jXnP0SCUWKk" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</section>