<section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-evenly center">
    <h1>First of Many</h1>
    <img src="/assets/logo/logo_circle_text.svg" class="logo">
    <blockquote>
      While you travel, eat, and enjoy life, keep track of each First of Many new places, foods, and activities.
      From childhood to today, and each new day beyond, the First of Many new experiences awaits you. 
      Sign up now to start tracking.
    </blockquote>
  </div>
  <div>
    <iframe width="448" height="252" src="https://www.youtube.com/embed/jXnP0SCUWKk" frameborder="0" 
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>